<html>

<head>
<title>About</title>
</head>

<body>

<p>
GSOK 페이지 확률형 아이템 고시 자료 가져오기.
http://www.gsok.or.kr/certification-status-of-games-and-probability-information/?pageid=1&mod=list
</p>



<p>This is an R HTML document. When you click the <b>Knit HTML</b> button a web page will be generated that includes both content as well as the output of any embedded R code chunks within the document. You can embed an R code chunk like this:</p>

<!--begin.rcode
summary(cars)
end.rcode-->

<p>You can also embed plots, for example:</p>

<!--begin.rcode fig.width=7, fig.height=6
plot(cars)
end.rcode-->

</body>
</html>
